{{ define "main" }}
    <article>
        <h1>What's been on my mind...</h1>
        <ul class="posts-list">
            {{ range $index, $element := where .Paginator.Pages ".Type" "==" "post" }}
                <li class="posts-list-item">
                    <a class="posts-list-item-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
                    <div class="post-list-item-metadata">
                        <span class="posts-list-item-description">
                            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }} {{ .ReadingTime }} min read -
                            {{ .PublishDate.Format "Jan 2, 2006" }}
                        </span>
                        {{ if (and (.Params.showComments) (.Site.DisqusShortname)) }}
                            <span class="posts-list-item-comments">
                                <a class="disqus-comments" href="{{ .RelPermalink }}#disqus_thread">Comments</a>
                            </span>
                        {{ end }}
                    </div>
                    {{- with .Params.tags -}}
                        <div>
                            {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
                            {{ range . -}}
                                {{- with $.Site.GetPage (printf "/%s/%s" "tags" . ) -}}
                                    <a class="tag" href="{{ .RelPermalink }}">{{ .Title }}</a>
                                {{- end -}}
                            {{- end -}}
                        </div>
                    {{- end -}}
                </li>
            {{ end }}
        </ul>
        {{ partial "pagination.html" $ }}
    </article>
{{ end }}

