{{ define "main" }}
    <article>
        <h1>What's been on my mind...</h1>
        <ul class="posts-list">
            {{ range $index, $element := where .Paginator.Pages ".Type" "!=" "policy" }}
                <li class="posts-list-item">
                    <a class="posts-list-item-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
                    <div class="post-list-item-metadata">
                        <span class="posts-list-item-description">
                            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }} {{ .ReadingTime }} min read -
                            {{ .PublishDate.Format "Jan 2, 2006" }}
                        </span>
                        <span class="posts-list-item-comments">
                            <span class="imagewrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 3.2 3.2">
                                <g>
                                    <path d="M.697.21H2.48c.301 0 .544.243.544.544v.91a.542.542 0 0 1-.544.542H.697c-.13 0-.54.909-.542.788-.004-.203-.001-1.16-.001-1.33v-.91C.154.453.396.21.697.21z"/>
                                    <path d="M.614.742h1.89M.614 1.226h1.89M.614 1.728H1.79" stroke-linecap="round"/>
                                </g>
                            </svg>
                            </span>
                            <a href="{{ .RelPermalink }}#disqus_thread">
                                comments
                            </a>
                        </span>
                    </div>
                    {{- with .Params.tags -}}
                        <div style="font-size: 0.8rem;">
                            {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
                            {{ range . -}}
                                {{- with $.Site.GetPage (printf "/%s/%s" "tags" . ) -}}
                                    <a class="tag" href="{{ .RelPermalink }}">{{ .Title }}</a>
                                {{- end -}}
                            {{- end -}}
                        </div>
                    {{- end -}}
                </li>
            {{ end }}
        </ul>
        {{ partial "pagination.html" $ }}
    </article>
{{ end }}

