table {
    border: 1px solid rgba(103,235,162,.8);
    background-color: #272822;

    thead tr {
        font-weight: 900;

        th,
        td {
            border: 0;
            border-bottom: 1px solid rgba(103,235,162,.8);
        }
    }

    td,
    th {
        padding: 5px 10px;
    }
}
