@page {
    size: A4;
    margin-left: 0;
    margin-right: 0;
}

@mixin print {
    display: flex;
    color: black;
    background-color: white;
    width: 210mm;
    height: 297mm;
    margin: auto;
    flex-direction: column;
    max-width: 100vw;

    .app-container {
        width: 100%;

        .document-content p {
            text-align: justify;
        }
    }

    a {
        color: blue;
        text-decoration: underline;
    }

    h1,
    h2,
    h3,
    h4 {
        font-size: 2rem;
        text-transform: lowercase;
        font-variant: small-caps;
        color: #313131 !important;
        & + hr {
            display: none;
        }

        margin-top: initial !important;
    }

    h4 {
        font-size: 1.5rem;
    }


    .toc-wrapper,
    .show-search,
    aside[role=search],
    header {
        display: none;
    }

    svg.url-icon {
        path {
            stroke: black;
        }
    }

    svg.social {
        path {
            fill: black;
        }
    }

    .document .document-content .personalia-container {
        display: flex;
        justify-content: space-between;

        @media screen and (min-width: 768px) {
            img {
                display: block;
                border-radius: 50%;
                width: 10rem;
                border: 5px solid #313131;
                margin-left: 10px;
            }
        }
    }
}

body.print {
    @include print;
}

@media print {
    @include print;
}
