@import 'fonts';
@import 'syntax';

html {
    font-size:  1.2rem;
    letter-spacing: 0.1rem;
}

html,
p,
h1,
h2,
h3,
h4,
div,
a {
    font-family: 'Fira Sans', sans-serif;
}

code,
pre {
    font-family: 'Fira Mono', monospace;
}

blockquote {
    background-color: rgba(255, 255,255, 0.1);
    border-left: 3px solid #d3d3d3;
    padding-left: .5rem;
}

